body {
  margin: 0;
  background-color: #303030;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.loader {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 10px solid #fff;
  border-right-color: #f00;
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
